body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #687cf7;
}

.main {
  display: flex;
  width: 100%;
  height: 17vh;
  padding-top: 2%;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
}

.logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.logo img {
  width: 40%;
}

.search {
  width: 93%;
  height: 3vh;
  display: flex;
  align-items: center;
  padding: 9px;
  border-radius: calc(infinity * 1px);
  background-color: rgb(240, 240, 240);
}

.search img {
  width: 5%;
  margin: 5px;
  margin-right: 15px;
}

.close-button-visible {
  display: none;
}

.search-input {
  font-size: 12px;
  width: 100%;
  outline: none;
  border: none;
  background: transparent; 
}

.border-items {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.items {
  width: 90%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10%;
}

p {
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.list-items {
  background: linear-gradient(to top, #ebebeb 50%, #ffffff 50%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5%;
  padding: 2%;
  width: 95%;
  margin: 0;
  cursor: pointer;
}

.number-wrap {
  /* background-color: green; */
  display: flex;
  justify-content: end;
  margin-right: 5px;
}

.img-wrap {
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: center;
  height: 75%;
}

.img-wrap img {
  width: 55%;
}

.name-wrap {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.detail-img-wrap img {
  width: 90%;
}

.not-found {
  display: none;
  text-align: center;
  padding-top: 20px;
  font-size: larger;
}


@media screen and (min-width: 425px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }

  .logo img {
    width: 35%;
  }

  .border-items {
    width: 100%;
    height: 100%;
  }

  .items {
    margin-top: 10%;
  }

  .search {
    width: 96%;
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  .search img {
    width: 5%;
  }

}

@media screen and (min-width: 768px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }

  .logo img {
    width: 20%;
  }

  .items {
    margin-top: 6%;
  }

  .border-items {
    width: 100%;
    height: 100%;
  }

  .search {
    width: 97%;
    margin-top: 2%;
    display: flex;
    align-items: center;
  }

  .search img {
    width: 3%;
  }
  
  .detail-img-wrap img {
    width: 100%;
  }
  
}

@media screen and (min-width: 1024px) {
  .list {
    grid-template-columns: repeat(5, 1fr);
  }

  .logo img {
    width: 15%;
  }

  .search {
    width: 98.5%;
    margin-top: 15px;
    display: flex;
    align-items: center;
  }

  .search img {
    width: 2%;
  }

  .border-items {
    width: 100%;
    height: 100%;
  }

  .items {
    margin-top: 4%;
  }

  .detail-img-wrap img {
    width: 100%;
  }

}

@media screen and (min-width: 1440px) {
  .list {
    grid-template-columns: repeat(7, 1fr);
  }

  .logo img {
    width: 15%;
  }

  .search {
    width: 98%;
    margin-top: 15px;
    display: flex;
    align-items: center;
  }

  .border-items {
    width: 100%;
    height: 100%;
  }

  .search img {
    width: 2%;
  }

  .items {
    margin-top: 4%;
  }

  .detail-img-wrap img {
    width: 100%;
  }

}

/* detail pokemons */

.detail-background-top {
  background-color: #687cf7;
  width: 100%;
  height: 65%;
  position: absolute;
}

.detail-main {
  position: absolute;
  z-index: 1;
  width: 100%;
  /* background-color: gray; */
}

.detail-bg {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: -1;
  opacity: 0.15;
}

.detail-header {
  padding: 20px;
  position: relative;
  /* background-color: gray; */
  /* height: 100vh; */
  height: max-content;
  /* border-color: transparent;
  background-color: transparent; */
}

.header-wrapper-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
  color: white;
}

.header-wrap-detail {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.back-btn-to-home {
  max-height: 32px;
}

.detail-card {
  background-color: white;
  margin-inline: 7px;
  margin-block: 10px;
  border-radius: 10px;
}

.featured-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-bottom: 10px; */
}


.detail-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.type-pokemon {
  display: flex;
  justify-content: center;
}

.type-font {
  color: white;
  padding-inline: 12px;
  padding-block: 5px;
  margin-block: 20px;
  margin-inline: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-radius: calc(infinity * 1px);
}

.about-wrap {
  /* background-color: gray; */
  /* margin: 20px; */
  padding-inline: 20px;
  margin-block: 10px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 10px; */
}

.about-content {
  display: flex;
  justify-content: space-around;
  align-items: end;
  width: 100%;
  /* background-color: gray; */
}

.weight-detail-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: gray; */
}

.weight-detail {
  display: flex;
  justify-content: space-around;
}

.weight-detail img {
  margin-right: 10px;
}

.weight-font {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 15px;
}

.weight {
  margin-right: 5px;
}

.height {
  margin-right: 5px;
}

.height-detail-wrap {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.height-detail {
  display: flex;
  justify-content: space-between;
}

.height-detail img {
  margin-right: 10px;
}

.height-font {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 15px;
}

.detail-move-wrap {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.move-fonts2 {
  font-size: 12px;
  margin-top: 10px;
}

.detail-move {
  width: auto;
  height: auto;
  /* background-color: green; */
}

.description {
  width: auto;
  height: auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-inline: 15px;
  font-size: 17px;
  display: flex;
  align-items: center;
}

.stats-pokemon {
  padding-inline: 15px;
  padding-block: 20px;
}

.base-stats {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-content {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-block: 10px;
}

.progress-bar {
  appearance: none;
  -webkit-appearance: none;
  width: 70%;
  height: 6px;
}

.progress-bar::-webkit-progress-bar {
  background-color: #E0E0E0E0;
  border-radius: calc(infinity * 1px);
}

.progress-bar::-webkit-progress-value {
  background-color: var(--progress-color);
  border-radius: calc(infinity * 1px);
}


@media screen and (min-width: 425px) {
  .progress-bar {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .progress-bar {
    width: 85%;
  }
}

@media screen and (min-width: 1024px) {
  .progress-bar {
    width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .progress-bar {
    width: 93%;
  }
}