body {
  font-family: sans-serif;
  background-color: #687cf7;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  width: 90%;
  height: 80px;
}

.container {
  display: flex;
  width: 100%;
  height: 75%;
}

.logo {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.logo img {
  width: 25%;
}

.search {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 15px;
  border-radius: calc(infinity * 10px);
  background-color: rgb(227, 227, 227);
}

.search img {
  width: 5%;
  margin: 5px;
  margin-right: 15px;
}

.search-input {
  font-size: 12px;
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
}

.items {
  width: 100%;
  height: 100vh;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}
